/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css */

/* Global styles */
body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply a common background color to the entire application */
  body, app-root {
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
